<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}">

</head>
<body>

<form method="post" th:object="${spitter}" enctype="multipart/form-data">
    <label>
        Profile Picture
    </label>
    <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif"><br>

    <input type="submit" value="提交">
</form>

</body>
</html>