<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}">

</head>
<body>

<!--Not allowed to load local resource chrome 安全考虑，安装插件可解决-->
<img th:src="${spitterAvatar}">

<form method="post" enctype="multipart/form-data" action="/spitter/doRegister">
    <label>
        Profile Picture
    </label>
    <input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif"><br>

    <input type="submit" value="提交">
</form>

</body>
</html>