<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%date{yyyy-MM-dd HH:mm:ss} | %highlight(%-5level) | %thread | %logger | %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--&lt;!&ndash; encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder &ndash;&gt;-->
    <!--<encoder>-->
    <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>