<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy/>

    <aop:config>
        <aop:pointcut id="point" expression="execution(* com.duan.springdemo.aspect.Performance.performance(..)))"/>

        <aop:aspect ref="audience">

            <aop:before method="silenceCellPhones"
                        pointcut-ref="point"/>

            <aop:before method="takeSeats"
                        pointcut-ref="point"/>

            <aop:after-returning method="applause"
                                 pointcut-ref="point"/>

            <aop:after-throwing method="demandRefund"
                                pointcut-ref="point"/>

            <aop:around method="around" pointcut-ref="point"/>

        </aop:aspect>

        <aop:aspect ref="trackCounter">
            <aop:pointcut id="trackPlayer"
                          expression="execution(* com.duan.springdemo.disc.CompactDisc.play(int)) and args(trackNumber))"/>

            <aop:before method="countTrack" pointcut-ref="trackPlayer"/>

        </aop:aspect>

        <aop:aspect>
            <aop:declare-parents types-matching="com.duan.springdemo.aspect.Performance+"
                                 default-impl="com.duan.springdemo.aspect.DefaultEncoreable"
                                 implement-interface="com.duan.springdemo.aspect.Encoreable"/>
        </aop:aspect>
    </aop:config>

</beans>